.promo__wrapper {
  &--flat-white {
    background-color: $background-flatwhite;
  }

  &--lavender {
    background-color: $background-lavenderlatte;
  }

  &--espresso {
    background-color: $background-espresso;
  }
}
