.slider {
  position: relative;
}

.slider__prev-slide,
.slider__next-slide {
  background-color: transparent;
  cursor: pointer;
  border: none;
  position: absolute;
  width: 20px;
  height: 100%;
  padding: 0;

  @media (min-width: $tablet-width) {
    width: 80px;
  }
}

.slider__prev-slide {
  top: 0;
  left: 0;
  padding-left: 4px;
  padding-right: 5px;

  &:hover,
  &:focus {
    background: linear-gradient(
      90deg,
      $basic-white 0%,
      rgba(255, 255, 255, 0) 100%
    );
  }

  &:active {
    background: linear-gradient(
      90deg,
      rgba(120, 89, 207, 0.25) 0%,
      rgba(120, 89, 207, 0) 100%
    );
  }
}

.slider__next-slide {
  top: 0;
  right: 0;
  padding-left: 5px;
  padding-right: 4px;

  &:hover,
  &:focus {
    background: linear-gradient(
      -90deg,
      $basic-white 0%,
      rgba(255, 255, 255, 0) 100%
    );
  }

  &:active {
    background: linear-gradient(
      -90deg,
      rgba(120, 89, 207, 0.25) 0%,
      rgba(120, 89, 207, 0) 100%
    );
  }
}

.slider__next-slide svg,
.slider__prev-slide svg {
  fill: $basic-primary;
}

.slider__prev-slide:disabled:hover,
.slider__prev-slide:disabled:active,
.slider__prev-slide:disabled:focus,
.slider__next-slide:disabled:hover,
.slider__next-slide:disabled:active,
.slider__next-slide:disabled:focus {
  background: none;
  cursor: default;
}

.slider__prev-slide:disabled svg,
.slider__next-slide:disabled svg {
  fill: $basic-gray;
}

.slider__image {
  width: 280px;
  height: 280px;
  margin: auto;

  @media (min-width: $tablet-width) {
    width: 476px;
    height: 476px;
    position: absolute;
    bottom: -188px;
    left: 50%;
    transform: translate(-50%, 0);
  }

  @media (min-width: $desktop-width) {
    position: static;
    width: 600px;
    height: 600px;
    transform: none;
  }
}

.slider__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.slider__item {
  &--current {
    display: flex;

    @media (min-width: $desktop-width) {
      display: grid;
    }
  }

  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  padding-bottom: 60px;
  display: none;
  text-align: center;

  @media (min-width: $tablet-width) {
    padding-top: 60px;
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 308px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
    padding: 30px 80px 84px 80px;
    margin-bottom: 0;
  }

  &--flat-white {
    background-color: $background-flatwhite;
  }

  &--lavender {
    background-color: $background-lavenderlatte;
  }

  &--espresso {
    background-color: $background-espresso;
  }
}

.slider__text {
  max-width: 608px;
  margin: auto;
  text-align: center;

  @media (min-width: $desktop-width) {
    max-width: 100%;
    text-align: left;
  }
}

.slider__slogan {
  margin: 10px 0 4px 0;

  @include font(700, 12px, 16px, $basic-primary);
  text-transform: uppercase;
}

.slider__title {
  margin: 0 0 10px 0;

  @include font(700, 36px, 48px, $basic-black);
  letter-spacing: 0.02em;

  @media (min-width: $tablet-width) {
    @include font(700, 56px, 80px, $basic-black);
    margin-bottom: 16px;
  }
}

.slider__description {
  margin: 0 0 20px 0;

  @include font(400, 14px, 20px, $basic-black);

  @media (min-width: $tablet-width) {
    @include font(400, 20px, 32px, $basic-black);
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 40px;
  }
}

.slider__purchase {
  margin: 0;
}

.slider__old-price {
  margin-right: 6px;

  @include font(400, 16px, 32px, $basic-primary);
}

.slider__new-price {
  margin-right: 20px;

  @include font(600, 20px, 32px, $basic-black);
}

.slider__button {
  padding: 8px 20px;
}

.slider__pagination {
  display: none;

  @media (min-width: $desktop-width) {
    display: flex;
    position: absolute;
    bottom: 70px;
    left: 50%;
    transform: translate(-50%, 0);
  }
}

.slider__pagination-button {
  width: 62px;
  height: 4px;
  background-color: $basic-white;
  margin-right: 8px;
  border: none;
  cursor: pointer;

  &--current {
    background-color: $basic-primary;
  }

  &:hover,
  &:focus {
    background-color: $primary-opacity;
  }

  &:active {
    background-color: $basic-primary;
  }
}
